.App {
  font-family: arial;
  background-color: aquamarine;
  margin-left: 15%;
  margin-right: 15%;
 }

.App-header {
  color: coral;
  background-color: aqua;
  text-align: center;
}

.App-content {
  padding: 10px;
}

.App-clock {
  background-color: lightblue;
  text-align: center;
}

.App-counters{
  text-align: center;
  font-size: 50px;
}

.App-switch{
  text-align: center;
}

.App-name{
  text-align: center;
}

.App-btn{
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}