.App {
  font-family: cursive;
  background-color: aquamarine;
  margin-left: 15%;
  margin-right: 15%;
 }

.App-header {
  color: coral;
  text-align: center;
}

.App-content {
  padding: 10px;
}

.App-clock {
  background-color: lightblue;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}